body{
	background-image: url(imgs/Fire_Mus2.jpg);
	background-size: auto 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.greyblock
{
	background-color: white;
	opacity: 3%;
	height: 700px;
	width: 700px;
	z-index: -1;
	box-shadow: 1px 1px 15px 13px whitesmoke;

}